<nav id="trendNavbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img
      src="/static/images/sms-logo-transparent.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    <span style="margin-left: 10px">TMI Trend</span>
  </a>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <a id="realtime-trend" class="nav-item nav-link" href="/realtime-trend"
      >Real Time Trend</a
    >

    <!--
    <a id="history-trend" class="nav-item nav-link" href="/history-trend"
      >Timebase History Trend</a
    >
    -->
  </div>

  <img
    src="/static/images/sms-logo.png"
    width="151"
    height="21"
    class="d-inline-block align-top"
    alt=""
    style="margin-right: 20px"
  />
  <img
    src="/static/images/customer-logo.png"
    width="70"
    height="30"
    class="d-inline-block align-top"
    alt=""
  />
</nav>
