<div id="checkbox_holder" class="card">
  <div class="card-header">Trend Selection</div>
  <div class="card-body">
    <!--
    <div id="checkboxHolderRow1" class="row justify-content-around">
      <div>
        <input id="checkboxView1" style="margin-left: 20px" type="checkbox" />
        <svg id="cbBox1" width="40" height="16" style="margin: 5px">
          <rect width="300" height="100" style="fill: red" />
        </svg>
        <label for="checkboxView1"></label>
      </div>
      <div>
        <input id="checkboxView2" style="margin-left: 20px" type="checkbox" />
        <svg id="cbBox2" width="40" height="16" style="margin: 5px">
          <rect width="300" height="100" style="fill: red" />
        </svg>
        <label for="checkboxView2"></label>
      </div>
      <div>
        <input id="checkboxView3" style="margin-left: 20px" type="checkbox" />
        <svg id="cbBox3" width="40" height="16" style="margin: 5px">
          <rect width="300" height="100" style="fill: red" />
        </svg>
        <label for="checkboxView3"></label>
      </div>
      <div>
        <input id="checkboxView4" style="margin-left: 20px" type="checkbox" />
        <svg id="cbBox4" width="40" height="16" style="margin: 5px">
          <rect width="300" height="100" style="fill: red" />
        </svg>
        <label for="checkboxView4"></label>
      </div>
      <div>
        <input id="checkboxView5" style="margin-left: 20px" type="checkbox" />
        <svg id="cbBox5" width="40" height="16" style="margin: 5px">
          <rect width="300" height="100" style="fill: red" />
        </svg>
        <label for="checkboxView5"></label>
      </div>
      <div>
        <input id="checkboxView6" style="margin-left: 20px" type="checkbox" />
        <svg id="cbBox6" width="40" height="16" style="margin: 5px">
          <rect width="300" height="100" style="fill: red" />
        </svg>
        <label for="checkboxView6"></label>
      </div>
    </div>
    <div id="checkboxHolderRow2" class="row justify-content-around">
      <div>
        <input id="checkboxView7" style="margin-left: 20px" type="checkbox" />
        <svg id="cbBox7" width="40" height="16" style="margin: 5px">
          <rect width="300" height="100" style="fill: red" />
        </svg>
        <label for="checkboxView7"></label>
      </div>
      <div>
        <input id="checkboxView8" style="margin-left: 20px" type="checkbox" />
        <svg id="cbBox8" width="40" height="16" style="margin: 5px">
          <rect width="300" height="100" style="fill: red" />
        </svg>
        <label for="checkboxView8"></label>
      </div>
      <div>
        <input id="checkboxView9" style="margin-left: 20px" type="checkbox" />
        <svg id="cbBox9" width="40" height="16" style="margin: 5px">
          <rect width="300" height="100" style="fill: red" />
        </svg>
        <label for="checkboxView9"></label>
      </div>
      <div>
        <input id="checkboxView10" style="margin-left: 20px" type="checkbox" />
        <svg id="cbBox10" width="40" height="16" style="margin: 5px">
          <rect width="300" height="100" style="fill: red" />
        </svg>
        <label for="checkboxView10"></label>
      </div>
      <div>
        <input id="checkboxView11" style="margin-left: 20px" type="checkbox" />
        <svg id="cbBox11" width="40" height="16" style="margin: 5px">
          <rect width="300" height="100" style="fill: red" />
        </svg>
        <label for="checkboxView11"></label>
      </div>
      <div>
        <input id="checkboxView12" style="margin-left: 20px" type="checkbox" />
        <svg id="cbBox12" width="40" height="16" style="margin: 5px">
          <rect width="300" height="100" style="fill: red" />
        </svg>
        <label for="checkboxView12"></label>
      </div>
    </div>
    -->
  </div>
</div>
